:root {
    --g-border-radius: 8px;

    --g-primary-color: #425866;
    --g-error-color: #4d40ff;
    --g-container-color: #333333;

    --g-background-color: #181818;
    --g-text-color: #ffffff;

    --g-focus-outline-color: #666666;
    --g-highlight-color: #00f2ff;
    --g-hover-opasity: 0.2;

    --g-outline-size: 2px;
}

html, body {
    color-scheme: dark;
    padding: 0;
    margin: 0;
}

* {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    display: inline;
    margin: 0;
    padding: 0;
}

button, .btn {
    --border-radius: var(--g-border-radius);

    position: relative;
    border: none;
    border-radius: var(--border-radius);
    padding-block: 1px;
    padding-inline: 6px;
    color: var(--g-text-color);
    text-decoration: none;

    &::before {
        content: '';
        border-radius: var(--border-radius);
        position: absolute;
        inset: 0;
        background-color: var(--g-highlight-color);
        opacity: 0;
        transition: opacity 0.2s ease;
    }
    &:hover::before,
    &:active::before {
        opacity: var(--g-hover-opasity);
    }
}

.flex-row {
    --gap: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
}
.flex-column {
    --gap: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove {
    display: none;
}

.top-menu {
    justify-content: space-between;
    box-shadow: 0 10px 10px #00000033;
    padding: 5px;
    margin-bottom: 5px;
}

.main-content {
    padding: 10px;
}

.back-btn {
    background-color: transparent;
    min-width: 2.5rem;
    font-weight: bold;
    font-size: large;
}

.outline {
    --color: var(--g-focus-outline-color);
    outline: var(--g-outline-size) solid var(--color);
}
